@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Works on Firefox */
* {
    scrollbar-color: gray none;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
    background: white;
}
.dark *::-webkit-scrollbar-track {
    background: black;
}
*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
    border: 1px solid white;
}
*::-webkit-scrollbar-thumb:active {
    background-color: #3D4B59;
}
.dark *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
    border: 2px solid black;
}
.dark *::-webkit-scrollbar-thumb:active {
    background-color: orange;
}
/* aplication */
html {
    scroll-behavior: smooth;
}
.dark, .dark input, .dark label, .dark select, .dark textarea, .dark legend {
    background-color: #000000;
}
.dark p, .dark li, .dark a, .dark input, .dark input::placeholder, .dark label, .dark select, .dark textarea, .dark legend {
    color: #fff
}
.dark h1, .dark h2, .dark h3 {
    color: #D97927
}
h1 {
    font-weight: bold;
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    color: #3D4B59;
}
h2 {
    font-weight: bold;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    color: #3D4B59;
}
h3 {
    font-weight: bold;
	font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    color: #3D4B59;
}
p, a, input, label, select, textarea, legend, li {
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}
a:hover {
    color: #BC9322;
}
a {
    font-weight: bold;
}
li a {
    font-size: 12px;
    font-weight: bold;
}
label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: bold;
    color: #3D4B59;
}
input::placeholder {
    color: #3D4B59;
}
input, select {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid #3D4B59;
    border-radius: 10px;
    font-weight: normal;
    color: #3D4B59
}
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #3D4B59;
}
input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus, input[type="radio"]:checked {
    outline: 2px solid #BC9322;
    border: 1px solid #BC9322;
}
input[type="submit"] {
    background: #3D4B59;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #BC9322;
    outline: 3px solid #3D4B59;
}
input[type="submit"]:focus {
    outline: 3px solid #BC9322;
}
input[type="submit"]:hover:focus {
    outline: 3px solid #3D4B59;
}
.error {
    background: rgb(131, 89, 89);
}
.success {
    background: rgb(112, 168, 112);
}
.questionPreview:hover>span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#print h1 {
    font-size: 20px;
}
#print h3 {
    font-size: 14px;
}
#print p {
    font-size: 10px;
}
@media print {
    body * {
        visibility: hidden;
    }
    .section-to-print, .section-to-print * {
        visibility: visible;
    }
    .section-to-print {
        position: absolute;
        border: none;
        width: 100%;
        left: 0;
        top: 0;
    }
    .section-to-print h1 {
        font-size: 22pt;
    }
    .section-to-print h3 {
        font-size: 18pt;
    }
    .section-to-print p {
        font-size: 12pt;
        color: #000000;
    }
}
@media (min-width: 768px) {
    p, input, label, select, textarea, legend, li {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
    }
    li a {
        font-size: 0.875rem/* 14px */;
        line-height: 1.25rem/* 20px */;
    }
    .reveal-text {
        animation: scrollAnimation 1ms ease-in-out both;
        animation-timeline: view(block 70% 50%);
    }
    .reveal-card-left {
        animation: scrollAnimationLeft 1ms ease-in-out both;
        animation-timeline: view(block 100% 40%);
    }
    .reveal-card-right {
        animation: scrollAnimationRight 1ms ease-in-out both;
        animation-timeline: view(block 100% 40%);
    }
    #print h1 {
        font-size: 32px;
    }
    #print h3 {
        font-size: 20px;
    }
    #print p {
        font-size: 14px;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
    h2 {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem; /* 40px */
    }
    h3 {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
    p, a, input, label, select, textarea, legend, li {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }
    li a {
        font-size: 1rem/* 16px */;
        line-height: 1.5rem/* 24px */;
    }
    #print h1 {
        font-size: 36px;
    }
    #print h3 {
        font-size: 24px;
    }
    #print p {
        font-size: 16px;
    }
}
@media (min-width: 1280px) {
    h1 {
        font-size: 3.75rem /* 60px */;
        line-height: 1;
    }
    h2 {
        font-size: 3rem; /* 48px */
        line-height: 1;
    }
    h3 {
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }
    p, a, input, label, select, textarea, legend, li {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }
    li a {
        font-size: 1.125rem/* 18px */;
        line-height: 1.75rem/* 28px */;
    }
}
@keyframes scrollAnimationLeft {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes scrollAnimationRight {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}